@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
  height: 100vh;
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  font-family: "Quicksand", sans-serif;
}

#clueBox {
  height: auto;
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#answer {
  color: white;
  visibility: hidden;
}

button {
  all: unset;
  background-color: black;
  color: white;
  padding: 12px;
}

#categories {
  background-color: white;
  height: 300px;
  overflow: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border: 2px solid black;
}

.categoryName {
  cursor: pointer;
}

#random {
  background-color: black;
  color: white;
}

.icon {
  cursor: pointer;
}

.counter {
  font-weight: bold;
}
